body {
    margin: 0;
    padding: 0;
    
    background: #2c230e;
    
    font-size: 1.5em;
    font-family: tempus sans itc;
    font-weight: bold;
}

#outerBody {
    width:94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 15px;
    
    background: #dfd1ab;
    border: 1px solid rgba(64,47,1,0.8);
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 50px rgba(184,159,92,0.5);
}

#banner {
    width: auto;
    //padding: 10px;
    
    border: 1px solid #000;
    border-top: none;
    background: url('images/bannerBack.png') repeat-x;
    height: 150px;
}
#banner img {
    margin-left: 10px;
    margin-top: 10px;
}
#navigation {
    width: auto;
    padding: 7px;
    padding-left: 1.6%;
    background: rgba(44,35,14,0.93);
    
    border-bottom: 1px solid #000;
    
    //text-align: center;
}
#navigation .link {
    background: #dfd1ab;
    padding: 3px;
    padding-left: 9px;
    padding-right: 9px;
    
    margin: 3px;
    color: #604f21;
    font-weight: bold;
    text-decoration: none;
    
    border-radius: 5px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    
    transition: 0.1s;
}
#navigation .selected, #navigation a:hover {
    
    padding-bottom: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #000;
}
#content {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    
    border: 1px solid #000;
    
    background: url('images/gameBoardBackground.png');
}
#gameInfo {
    width: 100%;
    height: 150px;
    
    background: url('images/border.png') repeat-x rgba(168,154,121,0.6) bottom;
}
#gameBoard {
    width: auto;
    padding-top: 40px;
    
    overflow: scroll;
}
#pusher {
    width: 100%;
    margin-right: 30px;
}
#gameBoardTable {
    border-collapse: collapse;
    padding: 0;
    
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
#gameBoardTable img {
    margin: -2px;
    padding: 0;
    margin-bottom: -10px;
    border: 1px solid rgba(255,255,255,0.3);
}
.tileHolderTD {
    width: 100px;
    height: 100px;
}
.newTilePlaceHolder {
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,0.15);
}

#newTile {
    width: 100px;
    height: 100px;
    position: absolute;
    cursor: move;
}
#newTileImage {
    transition: 0.4s;
    border: 1px solid #000;
    display: block;
}
#rotator {
    visibility: hidden;
    position: absolute;
    width: 150px;
    text-align: center;
}
#rotator .pusher {
    width: 50px;
}
#rotator img {
    width: 40px;
    cursor: pointer;
}

#footer {
    padding-right: 20px;
    padding-bottom: 2px;
    padding-top: 2px;
    
    text-align: right;
    font-size: 0.6em;
    font-weight: bold;
    font-family: arial;
    color: #402f01;
}